<hello name="{{ name }}"></hello>
<div class="thing">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAo1VorzS2FCLEpLcncQMG062xiJIh9cmj4k4SXnhb2qGByEYT&s
  " alt="aquarius" style="width:390px;height:410px;">
</div>
<br>
<div class="center">


<p class="mix">Aquarius Love </p>

<div class="grid-container">
  <div class="item1">Aquarius is the sign of the Water Carrier</div>
  <div class="item2"><img src="https://ih0.redbubble.net/image.259274539.0615/flat,1000x1000,075,f.u1.jpg" width="150"></div>
  <div class="item3">Kayleah is the Goddess of both the water carrier aquarius with fishes pouring out as the pisces, she is of 24 years of age.</div>  
  <div class="item4">Birthday is Feburary 18, 1995 on a Saturday at 3pm</div>
  <div class="item5">She has the influence of both planets Uranus and Neptune. Uranus (the ruling planet of Aquarius) riles up the eccentric and progressive energy, while Neptune (the ruling planet of Pisces) encourages you to embrace your dreams and imagination. </div>
</div>


<div class="item1"></div>

<html>
<body>

<canvas id="myCanvas" width="200" height="100"
style="border:100px solid rgb(0,255,255);">
</canvas>

</body>
</html>
